.cardsPacientes{

display:grid;

grid-template-columns:repeat(auto-fill,minmax(300px,1fr));

gap:20px;

margin-top:30px;

}

.cardPaciente{

background:white;

padding:20px;

border-radius:12px;

box-shadow:0 4px 10px rgba(0,0,0,.15);

}

.cardPaciente h2{

color:#1565c0;

margin-bottom:15px;

}

.cardPaciente p{

margin:8px 0;

}

.cardPaciente button{

width:100%;

padding:12px;

background:#1565c0;

border:none;

color:white;

border-radius:8px;

cursor:pointer;

margin-top:15px;

}

.cardPaciente button:hover{

background:#0d47a1;

}

.terminado{

margin-top:15px;

background:#2e7d32;

color:white;

padding:10px;

text-align:center;

border-radius:8px;

font-weight:bold;

}